<h4>Internal Server Error - Refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">__________________________</p>
  <p>what to do next?</p>
  <ol>
    <li>open the chrome dev tools</li>
    <li>open the chrome dev tools</li>
    <li>open the chrome dev tools</li>
  </ol>
  <p>following is the stack trace</p>
  <code class="mt-5" style="background-color:whitesmoke">{{error.details}}</code>
</ng-container>
